// paths
$path-image: "../../img";

// font-sizes
$font-size-11px: 0.6875rem;
$font-size-12px: 0.75rem;
$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.25rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.5rem;
$font-size-28px: 1.75rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$font-size-36px: 2.25rem;
$font-size-40px: 2.5rem;
$font-size-44px: 2.75rem;
$font-size-46px: 2.875rem;
$font-size-48px: 3rem;
$font-size-50px: 3.125rem;

// font-weights
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

// colors
$color-primary: #FF243F;
$color-banner-details: rgba(48, 56, 32, 0.8);
$color-banner-details-icon: rgba(48, 56, 32, 1);
$color-grey: #161616;

$color-category-green: #74a21a;
$color-category-blue: #0098c2;
$color-category-brown: #79573a;
$color-category-yellow: #ddb30c;
$color-category-yellow: #ddb30c;
$color-category-orange: #FF5724;

$color-box-green: #1ea254;
$color-box-yellow: #fda645;
$color-box-red: $color-primary;

// media-queries
$media-phone-width: "only screen and (max-width : 768px)";

// mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
