html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  color: #000; }
  a:hover {
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none; }

@media (min-width: 1200px) {
  .container {
    width: 1280px; } }
input.form-control {
  border-radius: 0; }

h2.section-title {
  font-size: 1.75rem;
  font-weight: 500; }

.page {
  margin-bottom: 2%; }
  .page h1.title {
    display: inline-block;
    font-size: 1.375rem;
    border-bottom: 2px solid #000;
    margin-bottom: 3%; }
  .page h2.title {
    display: inline-block;
    font-size: 1.375rem;
    border-bottom: 2px solid #000;
    margin-bottom: 3%; }
  .page .form input.form-control, .page .form textarea.form-control {
    border: 1px solid #000;
    border-radius: 0; }

.category {
  overflow: hidden;
  position: relative; }
  .category .category-icon.category-icon-green {
    background-color: #74a21a; }
  .category .category-icon.category-icon-brown {
    background-color: #79573a; }
  .category .category-icon.category-icon-blue {
    background-color: #0098c2; }
  .category .category-icon.category-icon-yellow {
    background-color: #ddb30c; }
  .category .category-icon.category-icon-red {
    background-color: #ff243f; }
  .category.category-right {
    height: 190px;
    margin-bottom: 20px; }
    .category.category-right .details {
      right: 0;
      width: 35%;
      background: rgba(48, 56, 32, 0.8);
      height: 100%; }
      .category.category-right .details .category-icon {
        background-size: 50%;
        margin: 0 auto;
        margin-top: 35%;
        display: block;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 70px;
        height: 70px; }
        .category.category-right .details .category-icon img {
          height: 100%;
          width: 100%; }
      .category.category-right .details .name {
        font-size: 1.125rem;
        font-weight: 500;
        color: #fff;
        margin-top: 4%; }
  .category.category-bottom {
    height: 190px; }
    .category.category-bottom .details {
      bottom: 0;
      height: 60px;
      background-color: rgba(48, 56, 32, 0.8);
      width: 100%; }
      .category.category-bottom .details .category-icon {
        width: 60px;
        height: 100%;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50%; }
      .category.category-bottom .details .name {
        font-size: 1.125rem;
        font-weight: 500;
        color: #fff;
        display: inline-block;
        padding: 0 6px;
        bottom: 22px;
        position: relative; }
  .category .details {
    position: absolute; }
  .category img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto; }
  .category .category-icon-greens {
    background: url(../../img/icons/icon-greens.png); }
  .category .category-icon-nuts {
    background: url(../../img/icons/icon-nuts.png); }
  .category .category-icon-fruits {
    background: url(../../img/icons/icon-grapes.png); }
  .category .category-icon-fruits-froze {
    background: url(../../img/icons/icon-berry-froze.png); }
  .category .category-icon-vegetables-froze {
    background: url(../../img/icons/icon-vegetable-froze.png); }
  .category .category-icon-vegetables {
    background: url(../../img/icons/icon-carrot.png); }

.product .weight, .suggest .weight {
  margin: 0 5px; }
  .product .weight:after, .suggest .weight:after {
    content: " ";
    background: url(../../img/icons/weight.png);
    background-size: 22px 19px;
    width: 22px;
    height: 18px;
    left: 4px;
    position: relative;
    display: inline-block; }
.product .boxes, .suggest .boxes {
  margin: 0 5px; }
  .product .boxes:before, .suggest .boxes:before {
    content: " ";
    background: url(../../img/icons/box.png);
    background-size: 26px 19px;
    width: 26px;
    height: 18px;
    right: 2px;
    position: relative;
    display: inline-block; }
.product .box-icon-green, .suggest .box-icon-green {
  color: #1ea254; }
  .product .box-icon-green:before, .suggest .box-icon-green:before {
    background: url(../../img/icons/box-green.png); }
.product .box-icon-yellow, .suggest .box-icon-yellow {
  color: #fda645; }
  .product .box-icon-yellow:before, .suggest .box-icon-yellow:before {
    background: url(../../img/icons/box-yellow.png); }
.product .box-icon-red, .suggest .box-icon-red {
  color: #ff243f; }
  .product .box-icon-red:before, .suggest .box-icon-red:before {
    background: url(../../img/icons/box-red.png); }
.product .box-icon-green:before, .product .box-icon-yellow:before, .product .box-icon-red:before, .suggest .box-icon-green:before, .suggest .box-icon-yellow:before, .suggest .box-icon-red:before {
  background-size: 26px 19px;
  width: 26px;
  height: 18px; }

.modal-open .modal-dialog {
  margin-top: 100px;
  width: 700px; }
  .modal-open .modal-dialog .modal-content {
    border-radius: 0;
    padding: 0;
    background: #000;
    position: relative; }
    .modal-open .modal-dialog .modal-content .modal-body {
      padding: 0; }
      .modal-open .modal-dialog .modal-content .modal-body .title {
        display: inline-block;
        padding-bottom: 1%;
        margin-top: 4px;
        font-size: 1.375rem;
        font-weight: 500;
        letter-spacing: normal;
        position: absolute;
        top: 44px; }
      .modal-open .modal-dialog .modal-content .modal-body .content {
        font-size: 14px;
        font-weight: normal;
        margin-top: 90px;
        margin-bottom: 20px;
        height: 110px; }
      .modal-open .modal-dialog .modal-content .modal-body .main {
        background: #fff;
        padding: 30px; }
        .modal-open .modal-dialog .modal-content .modal-body .main h1.title {
          border-bottom: 2px solid #000;
          margin-bottom: 50px; }
        .modal-open .modal-dialog .modal-content .modal-body .main input[type="text"], .modal-open .modal-dialog .modal-content .modal-body .main input[type="password"] {
          border: 1px solid #000;
          height: 40px; }
        .modal-open .modal-dialog .modal-content .modal-body .main button {
          text-transform: none;
          font-size: 1.125rem;
          font-weight: 300; }
      .modal-open .modal-dialog .modal-content .modal-body .sub {
        min-height: inherit;
        color: #fff;
        padding: 30px; }
        .modal-open .modal-dialog .modal-content .modal-body .sub .title {
          width: 75%; }
        .modal-open .modal-dialog .modal-content .modal-body .sub a.button-bordered {
          text-transform: none;
          font-size: 1.125rem;
          font-weight: 300;
          width: 90%; }
.modal-open #reg {
  display: none; }

.carousel-control.right, .carousel-control.left {
  background-image: none; }

.carousel-control {
  color: #0f0f0f; }

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: white;
  background: black;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid white; }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  width: auto;
  height: auto; }

.carousel-control .glyphicon-chevron-right {
  right: 25%; }

.carousel-control .glyphicon-chevron-left {
  left: 25%; }

.banners .product {
  border: 1px solid #000;
  overflow: hidden;
  position: relative; }
  .banners .product.main {
    height: 400px; }
    .banners .product.main .details {
      background: rgba(255, 255, 255, 0.51);
      height: 100%;
      width: 50%;
      top: 0;
      padding-top: 8%;
      border-right: 1px solid #000;
      text-align: center; }
      .banners .product.main .details .name {
        font-size: 2.25rem;
        color: #000; }
      .banners .product.main .details .price {
        margin-top: 20px;
        background: #ff243f;
        color: #fff;
        padding: 2%;
        font-size: 2.5rem;
        font-weight: 500; }
        .banners .product.main .details .price s {
          opacity: .5; }
      .banners .product.main .details .description {
        margin-top: 20px;
        font-size: 1.25rem;
        font-weight: normal; }
      .banners .product.main .details button {
        margin-top: 20px;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 10px 40px;
        background: #000; }
  .banners .product .details {
    position: absolute; }
  .banners .product img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto; }

.sidebar ul.menu {
  list-style-type: none;
  padding: 0; }
  .sidebar ul.menu li {
    padding: 4px 0px 8px;
    width: 285px;
    border: 1px solid #000000;
    margin-bottom: 1.5%;
    position: relative;
    font-size: 1.5rem; }
    .sidebar ul.menu li:before {
      position: absolute;
      border-right: 1px solid #000;
      top: 0px;
      width: 50px;
      height: 100%;
      padding: 12px 12px; }
    .sidebar ul.menu li a {
      padding: 0 60px;
      font-size: 1rem;
      width: 100%;
      display: inline-block; }
    .sidebar ul.menu li:hover, .sidebar ul.menu li.active {
      background: #000;
      color: #fff; }
      .sidebar ul.menu li:hover a, .sidebar ul.menu li.active a {
        color: #fff; }
      .sidebar ul.menu li:hover:before, .sidebar ul.menu li.active:before {
        border-right: 1px solid #fff; }

.products-grid .suggest {
  border: 1px solid #000;
  height: 240px; }
  .products-grid .suggest .picture {
    height: 130px;
    border-bottom: 1px solid #000; }
    .products-grid .suggest .picture img {
      max-height: 90%;
      max-width: 100%;
      height: 100%;
      width: auto; }
  .products-grid .suggest .name {
    height: 30px;
    border-bottom: 1px solid #000;
    padding: 2% 0; }
  .products-grid .suggest .details {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0 15px; }
    .products-grid .suggest .details .current-suggestion {
      margin-top: 2px; }
      .products-grid .suggest .details .current-suggestion .old-price {
        width: 130px; }
      .products-grid .suggest .details .current-suggestion .meta {
        width: 130px; }
    .products-grid .suggest .details .current-suggestion, .products-grid .suggest .details .new-suggestion {
      margin-top: 3px; }
      .products-grid .suggest .details .current-suggestion .special-col:last-child, .products-grid .suggest .details .new-suggestion .special-col:last-child {
        padding-left: 0; }
    .products-grid .suggest .details .new-suggestion .new-price {
      border: 1px solid #000;
      height: 30px;
      width: 130px;
      margin-top: 1px; }

button.btn {
  border-radius: 0; }
  button.btn:hover {
    color: #fff;
    background: #161616; }
button.button {
  text-transform: uppercase;
  background: #000;
  color: #fff; }
button.button-basket {
  padding: 4px 12px;
  border: 1px solid #000;
  height: 30px;
  width: 130px; }
button.button-bordered {
  border: 1px solid #fff; }
button.button-get-orders {
  margin-top: 4%;
  height: 50px;
  width: 260px;
  border: 1px solid #000;
  text-align: center;
  color: #fff; }
button.button-inverse {
  background: #fff;
  color: #000; }

a.btn {
  border-radius: 0;
  background: #000;
  color: #fff; }
  a.btn:hover {
    background: #161616;
    color: #fff; }
a.button {
  text-transform: uppercase;
  background: #000;
  color: #fff; }
a.button-bordered {
  border: 1px solid #fff; }
a.button-inverse {
  background: #fff;
  color: #000;
  border: 1px solid #000; }
a.button-rounded {
  border-radius: 20%; }

.dropdown-menu {
  display: none;
  padding: 30px;
  width: 260px; }

.modal-backdrop.in {
  opacity: 0.8; }

#basket-badge {
  border-radius: 100px;
  background-color: #ff243f;
  position: relative;
  top: -10px;
  left: -6px;
  font-size: 0.6875rem; }

#cart-stores {
  margin-top: 20px;
  border: 1px solid #000;
  font-size: 0.75rem; }
  #cart-stores:before {
    content: "";
    position: absolute;
    right: 25px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 19px 18px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 9999; }
  #cart-stores:after {
    content: "";
    position: absolute;
    right: 23px;
    top: -21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 21px 20px;
    border-color: transparent transparent #000000 transparent;
    z-index: 1; }
  #cart-stores .item-name, #cart-stores .item-box_price, #cart-stores .item-box_weigh, #cart-stores .item-summa {
    margin: 2px 0; }
  #cart-stores .item-name {
    font-weight: 700; }
  #cart-stores .item-box_price {
    font-weight: 700; }
  #cart-stores .item-summa {
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    padding: 2px 6px 1px; }
  #cart-stores hr {
    border-top: 1px solid #000; }
  #cart-stores .cart-total {
    font-size: 0.875rem;
    font-weight: 700; }
  #cart-stores a.btn {
    margin-top: 10px; }

.dropdown-menu {
  padding: 10px; }

footer.footer {
  background: #000;
  padding: 50px 0;
  color: #fff; }
  footer.footer a {
    color: #fff; }
    footer.footer a:hover {
      color: rgba(255, 255, 255, 0.75); }
  footer.footer .copyright {
    font-size: 0.75rem;
    font-weight: 500; }
  footer.footer .logo img {
    width: 75%; }
  footer.footer .call .number {
    font-size: 1.25rem;
    font-weight: 500; }

.front-search {
  margin-top: 35px; }
  .front-search .special-row {
    margin-left: -50px;
    margin-right: -50px;
    display: inline-block; }
  .front-search .search-panel {
    background: #000;
    padding: 15px 35px;
    border-radius: 35px; }
    .front-search .search-panel .button-search {
      background: #ff243f;
      padding: 6px 65px;
      color: #fff;
      text-transform: uppercase; }

.front-helpdesk {
  margin-top: 30px; }
  .front-helpdesk .video {
    height: 300px;
    background: url(../../img/hiw.jpg); }
    .front-helpdesk .video .message {
      padding-top: 11%; }
      .front-helpdesk .video .message .title, .front-helpdesk .video .message .icon {
        margin-bottom: 15px; }
      .front-helpdesk .video .message .title {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff; }
      .front-helpdesk .video .message a {
        color: #fff; }
        .front-helpdesk .video .message a .play-icon {
          width: 80px;
          height: 80px;
          font-size: 2rem;
          margin: 0 auto;
          border: 7px solid #fff;
          border-radius: 50%;
          padding: 2% 3.5%; }
  .front-helpdesk .order {
    background: #ccc;
    height: 300px;
    background: url(../../img/car.png) no-repeat;
    background-size: 50%; }
    .front-helpdesk .order .order-form {
      background: url(../../img/map.png) no-repeat;
      padding-top: 32%;
      height: 300px; }
      .front-helpdesk .order .order-form .number {
        height: 50px;
        width: 260px;
        border: 1px solid #000;
        display: inline-block; }

.front-partners .partner {
  height: 150px;
  background: url(../../img/DHL_Express.png) no-repeat 50%; }

header.header {
  background: #fff; }
  header.header nav {
    margin-top: 1%; }
    header.header nav .navbar-brand {
      padding: 0px; }
    header.header nav .navbar-brand > img {
      height: 100%;
      width: auto; }
    header.header nav .navbar-logo {
      width: 260px;
      height: 74px; }
    header.header nav ul.navbar-nav {
      list-style-type: none;
      padding-left: 0;
      margin: 15px 0 15px 25px; }
      header.header nav ul.navbar-nav li.menu-item a {
        font-size: 1rem;
        font-weight: 500;
        position: relative;
        display: block;
        padding: 12px 15px; }
      header.header nav ul.navbar-nav li.menu-item.call-button {
        background: #000;
        border-radius: 50px; }
        header.header nav ul.navbar-nav li.menu-item.call-button a {
          color: #fff;
          text-transform: uppercase;
          font-size: 0.75rem; }
      header.header nav ul.navbar-nav li.menu-item.active a {
        color: #ff243f; }

.page-shop .welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/hiw.jpg);
  height: 400px;
  padding: 30px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500; }
  .page-shop .welcome h1.title {
    margin-top: 0; }

.page-contacts .connections .call {
  display: inline-block;
  font-size: 1.5rem; }
  .page-contacts .connections .call .call-icon {
    color: #fff;
    background: #000;
    width: 35px;
    border-radius: 50px;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding: 6px;
    margin-right: 10px;
    font-size: 18px; }
.page-contacts .connections .back {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  font-size: 12px; }
.page-contacts .form {
  padding: 15px 35px; }
  .page-contacts .form.bordered {
    border: 1px solid #000; }

header {
  background: #fff; }

/*# sourceMappingURL=main.css.map */
