.page-cart {
  ul.navbar {
    padding: 0;
    margin: 0;
    li.menu-item {
      margin-right: 6%;
      font-size: $font-size-22px;
      &.active {
        border-bottom: 2px solid #000;
        margin-bottom: 3%;
        //border-bottom: 1px;
      }
    }
  }
  .section-name {
    font-size: $font-size-18px;
  }
  .heading {
    background: #000;
    color: #fff;
  }
  table.table-products {
    padding: 2% 0;
    //border-bottom: 1px solid #000;
    &.table-heading {
      margin-bottom: 0 !important;
    }
    tbody {
      border-bottom: 2px solid #000 !important;

      td {
        vertical-align: middle;
      }
    }
  }
  .datepicker {
    z-index: 1151 !important;
    border: 1px solid #000;
    border-radius: 0;
    padding: 5%;
    &.datepicker-inline {
      width: 100%;
    }
    table {
      margin: 0 auto;
    }
    td.active {
      background: $color-primary !important;
    }
    td.today {
      background: rgba(255, 36, 63, 0.5);
    }
  }
  .total {
    font-size: $font-size-18px;
    &.super-total {
      font-size: 150%;
    }
  }
  &.page-payment {
    .cc-selector {
      margin-bottom: 5%;
      label.drinkcard-cc {
        width: 160px;
        border: 2px solid #000;
        margin: 5% 5%;
        min-height: 100px;
        img {
          vertical-align: middle;
          max-height: 90px;
          padding: 25px 0;
          width: auto;
        }
        & + div {
          display: block;
        }
      }
      input {
        display: none;
      }
      input:checked + label {
        //display: none;
        background: #000;
        //filter: grayscale(100%);
        img {
          filter: brightness(0) invert(1);
        }
        color: #fff;
      }
    }

  }
}