.front-banners {
  .product {
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
    &.main {
      height: 400px;
      .details {
        background: rgba(255, 255, 255, 0.51);
        height: 100%;
        width: 50%;
        top: 0;
        padding-top: 12%;
        border-right: 1px solid #000;
        .name {
          font-size: $font-size-36px;
          color: #000
        }
        .price {
          margin-top: 30px;
          background: $color-primary;
          color: #fff;
          padding: 2%;
          font-size: $font-size-40px;
          font-weight: $font-weight-normal;
          s {
            opacity: .5;
          }
        }
        .meta {
          margin-top: 20px;
          font-size: $font-size-20px;
          font-weight: normal;
        }
      }
    }
    &.sub-main {
      height: 190px;
      margin-bottom: 20px;
    }
    &.add {
      height: 190px;
      .details {
        bottom: 0;
        height: 60px;
        background-color: $color-banner-details;
        width: 100%;
        .product-icon {
          background-color: $color-banner-details-icon;
          width: 60px;
          height: 100%;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: 50%;
          //background-color: ;
          //content: ' ';
        }
        .name {
          font-size: $font-size-18px;
          font-weight: $font-weight-normal;
          color: #fff;
          display: inline-block;
          padding: 0 6px;
          bottom: 22px;
          position: relative;
        }
      }
    }
    .details {
      position: absolute;
    }
    img {
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
    .product-icon-greens {
      background: url(#{$path-image}/icons/icon-greens.png)
    }
    .product-icon-nuts {
      background: url(#{$path-image}/icons/icon-nuts.png)
    }
    .product-icon-berry-froze {
      background: url(#{$path-image}/icons/icon-berry-froze.png)
    }
    .product-icon-peppers {
      background: url(#{$path-image}/icons/icon-peppers.png)
    }

  }
}

.front-hot {
  .title {
    font-size: $font-size-28px;
    font-weight: $font-weight-normal;
  }
  .suggest {
    border: 1px solid #000;
    height: 240px;
    .picture {
      height: 130px;
      border-bottom: 1px solid #000;
      img {
        max-height: 90%;
        max-width: 100%;
        height: 100%;
        width: auto;
      }
      //padding-top: 5%;
    }
    .name {
      height: 30px;
      border-bottom: 1px solid #000;
      padding: 2% 0;
    }
    .details {
      font-size: $font-size-20px;
      font-weight: $font-weight-normal;
      padding: 0 15px;
      .current-suggestion {
        margin-top: 2px;
        .old-price {
          width: 130px;
        }
        .meta {
          width: 130px;
        }
      }
      .new-suggestion {
        margin-top: 3px;
        .special-col:first-child {
          //padding-right: 0;
          //padding-left: 30px;
          //float: right;
        }
        .special-col:last-child {
          padding-left: 0;
        }
        .new-price {
          border: 1px solid #000;
          height: 30px;
          width: 130px;
          margin-top: 1px;
        }
        .button-busket {
          border: 1px solid #000;
          //padding-top: 1px;
          height: 30px;
          width: 130px;
          background: #000;
        }
      }
    }

  }

}

.front-search {
  margin-top: 35px;
  .special-row {
    margin-left: -50px;
    margin-right: -50px;
    display: inline-block;
  }
  .search-panel {
    background: #000;
    padding: 15px 35px;
    border-radius: 35px;
    .button-search {
      background: $color-primary;
      padding: 6px 65px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.front-helpdesk {
  margin-top: 30px;
  .video {
    height: 300px;
    background: url(#{$path-image}/hiw.jpg);
    .message {
      padding-top: 11%;
      .title, .icon {
        margin-bottom: 15px;
      }
      .title {
        font-size: $font-size-24px;
        font-weight: $font-weight-normal;
        color: #fff;
      }
      a {
        color: #fff;
        .play-icon {
          width: 80px;
          height: 80px;
          font-size: $font-size-32px;
          margin: 0 auto;
          border: 7px solid #fff;
          border-radius: 50%;
          padding: 2% 3.5%;
        }
      }
    }
  }
  .order {
    background: #ccc;
    height: 300px;
    background: url(#{$path-image}/car.png) no-repeat;
    background-size: 50%;
    .order-form {
      background: url(#{$path-image}/map.png) no-repeat;
      padding-top: 32%;
      height: 300px;
      .number {
        height: 50px;
        width: 260px;
        border: 1px solid #000;
        display: inline-block;
      }
      .button-get-orders {
        margin-top: 4%;
        height: 50px;
        width: 260px;
        border: 1px solid #000;
        background: #000;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}

.front-partners {
  margin: 20px 0;
  .partner {
    height: 150px;
    background: url(#{$path-image}/DHL_Express.png) no-repeat 50%;

  }
}