
.front-search {
  margin-top: 35px;
  .special-row {
    margin-left: -50px;
    margin-right: -50px;
    display: inline-block;
  }
  .search-panel {
    background: #000;
    padding: 15px 35px;
    border-radius: 35px;
    .button-search {
      background: $color-primary;
      padding: 6px 65px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.front-helpdesk {
  margin-top: 30px;
  .video {
    height: 300px;
    background: url(#{$path-image}/hiw.jpg);
    .message {
      padding-top: 11%;
      .title, .icon {
        margin-bottom: 15px;
      }
      .title {
        font-size: $font-size-24px;
        font-weight: $font-weight-normal;
        color: #fff;
      }
      a {
        color: #fff;
        .play-icon {
          width: 80px;
          height: 80px;
          font-size: $font-size-32px;
          margin: 0 auto;
          border: 7px solid #fff;
          border-radius: 50%;
          padding: 2% 3.5%;
        }
      }
    }
  }
  .order {
    background: #ccc;
    height: 300px;
    background: url(#{$path-image}/car.png) no-repeat;
    background-size: 50%;
    .order-form {
      background: url(#{$path-image}/map.png) no-repeat;
      padding-top: 32%;
      height: 300px;
      .number {
        height: 50px;
        width: 260px;
        border: 1px solid #000;
        display: inline-block;
      }
    }
  }
}

.front-partners {
  .partner {
    height: 150px;
    background: url(#{$path-image}/DHL_Express.png) no-repeat 50%;

  }
}