.page {

  .form {
    padding: 15px 35px;
    &.bordered {
      border: 1px solid #000;
    }
    .title {
      display: inline-block;
      padding-bottom: 1%;
      margin-top: 4px;
      font-size: $font-size-22px;
      font-weight: $font-weight-normal;
      letter-spacing: normal;
    }
  }
}