.product, .suggest {
  .weight {
    margin: 0 5px;
    &:after {
      content: " ";
      background: url(#{$path-image}/icons/weight.png);
      background-size: 22px 19px;
      width: 22px;
      height: 18px;
      left: 4px;
      position: relative;
      display: inline-block;
    }
  }
  .boxes {
    margin: 0 5px;
    &:before {
      content: " ";
      background: url(#{$path-image}/icons/box.png);
      background-size: 26px 19px;
      width: 26px;
      height: 18px;
      right: 2px;
      position: relative;
      display: inline-block;
    }
  }
  .box-icon-green {
    color: $color-box-green;
    &:before { background: url(#{$path-image}/icons/box-green.png); }
  }
  .box-icon-yellow:before {
    color: $color-box-yellow;
    &:before { background: url(#{$path-image}/icons/box-yellow.png); }
  }
  .box-icon-red:before {
    color: $color-box-red;
    &:before { background: url(#{$path-image}/icons/box-red.png); }
  }
  .box-icon-green:before, .box-icon-yellow:before, .box-icon-red:before {
    background-size: 26px 19px;
    width: 26px;
    height: 18px;
  }
}
