#cart-stores{
  margin-top: 20px;
  border: 1px solid #000;
  font-size: $font-size-12px;
  &:before {
    content: "";
    position: absolute;
    right: 25px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 19px 18px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 9999;
  }

  &:after {
    content: "";
    position: absolute;
    right: 23px;
    top: -21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 21px 20px;
    border-color: transparent transparent #000000 transparent;
    z-index: 1;
  }
  .item-name, .item-box_price, .item-box_weigh, .item-summa {
    margin: 2px 0;
  }

  .item-name {
    font-weight: $font-weight-bold;
  }
  .item-box_price {
    font-weight: $font-weight-bold;
  }
  .item-summa {
    font-weight: $font-weight-bold;
    display: inline-block;
    border: 1px solid #000;
    padding: 2px 6px 1px;
  }

  hr {
    border-top: 1px solid #000;
  }

  .cart-total {
    font-size: $font-size-14px;
    font-weight: $font-weight-bold;
  }

  a.btn {
    margin-top: 10px;
  }
}

.dropdown-menu {
  padding: 10px;
}

